Pane ,BorderPane {
	-fx-background-color: A2382B;
}

Button, ComboBox {
	-fx-min-width: 150px ;
	-fx-min-height: 30px ;
	-fx-pref-width: 150px ;
	-fx-pref-height: 30px ;
	-fx-background-color: linear-gradient(rgb(22, 179, 184) 5%, rgb(189, 51, 42) 100%) rgb(22, 179, 184);
	-fx-background-radius: 30;
	-fx-border-radius: 30%;
	-fx-background-insets: 0;
	-fx-text-fill: white;
	-fx-font-size: 15;

}

Button :hover {
	-fx-min-width: 150px ;
	-fx-min-height: 30px ;
	-fx-pref-width: 150px ;
	-fx-pref-height: 30px ;
	-fx-background-color: linear-gradient(rgb(30,140,150) 10%,  rgb(189, 51, 42) 100%) rgb(22, 179, 184);
	-fx-background-radius: 30;
	-fx-border-radius: 30%;
	-fx-background-insets: 0;
	-fx-text-fill: white;
	-fx-font-size: 17;

}