
Label {
	-fx-min-width: 150px ;
	-fx-min-height: 40px ;
	-fx-pref-width: 150px ;
	-fx-pref-height: 40px ;
	-fx-background-radius: 30;
	-fx-border-radius: 30%;
	-fx-background-insets: 0;
	-fx-text-fill: white;
	-fx-font-size: 15;
}

.testoLabel {
		-fx-padding: 5;
		-fx-background-color: #0076a3;
		-fx-border-style: solid inside;
		-fx-font-size: 16;
		-fx-font-family: sans-serif;
		-fx-font-weight: bold;
		-fx-border-width: 2;
		-fx-border-radius: 15;
		-fx-border-color: white;
}


.testo {
		-fx-padding: 5;
		-fx-font-size: 16;
		-fx-font-family: sans-serif;
		-fx-font-weight: bold;
}


.risultato {
	-fx-min-width: 450px ;
	-fx-min-height: 70px ;
	-fx-pref-width: 450px ;
	-fx-pref-height: 70px ;
	-fx-font-size: 16;
	-fx-font-family: sans-serif;
	-fx-font-weight: bold;
}
