TextArea  {
	-fx-min-width: 400.0px;
	-fx-max-width: 400.0px;
	-fx-min-height: 120.0px;
	-fx-max-height: 120.0px;
	-fx-font-size: 18.0px;
	-fx-font-family: "Comic Sans MS", cursive, sans-serif;
}
 .text-area .content{
      -fx-background-color: rgb(192.0,192.0,192.0);
  }
