/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

Pane, BorderPane {
	-fx-background-color: A2382B;
}


Rectangle{
	-fx-fill: #a4a4a487;
	-fx-stroke: "BLACK";
	-fx-stroke-width: 0.0;
}

Button{
	-fx-min-width: 150px ;
	-fx-min-height: 30px ;
	-fx-pref-width: 150px ;
	-fx-pref-height: 30px ;
	-fx-background-color: linear-gradient(rgb(22, 179, 184) 5%, rgb(189, 51, 42) 100%) rgb(22, 179, 184);
	-fx-background-radius: 30;
	-fx-border-radius: 30%;
	-fx-background-insets: 0;
	-fx-text-fill: white;
	-fx-font-size: 15;

}

Button:hover {
	-fx-min-width: 150px ;
	-fx-min-height: 40px ;
	-fx-pref-width: 150px ;
	-fx-pref-height: 40px ;
    -fx-background-color: linear-gradient(rgb(30,140,150) 10%,  rgb(189, 51, 42) 100%) rgb(22, 179, 184);
	-fx-background-radius: 30;
	-fx-border-radius: 30%;
	-fx-background-insets: 0;
	-fx-text-fill: white;
 	-fx-font-size: 17;
}


#btn_etg {
	-fx-min-width: 80px ;
	-fx-min-height: 40px ;
	-fx-pref-width: 80px ;
	-fx-pref-height: 40px ;
}

#menuVBox{
	-fx-fill: #a4a4a487;
}

TextField {
	-fx-background-color: white;
	-fx-border-color: white;
	-fx-text-fill: white;
}

