BorderPane {
	-fx-background-color: A2382B;
}

Button, ComboBox, Label {
	-fx-min-width: 150px ;
	-fx-min-height: 30px ;
	-fx-pref-width: 150px ;
	-fx-pref-height: 30px ;
	-fx-background-color: linear-gradient(rgb(22, 179, 184) 5%, rgb(189, 51, 42) 100%) rgb(22, 179, 184);
	-fx-background-radius: 30;
	-fx-border-radius: 30%;
	-fx-background-insets: 0;
	-fx-text-fill: white;
	-fx-font-size: 15;
	-fx-alignment: center;

}
.combo-box > .list-cell{
	-fx-text-fill: white;
}

Button:hover , ComboBox:hover {
	-fx-min-width: 150px ;
	-fx-min-height: 30px ;
	-fx-pref-width: 150px ;
	-fx-pref-height: 30px ;
    -fx-background-color: linear-gradient(rgb(30,140,150) 10%,  rgb(189, 51, 42) 100%) rgb(22, 179, 184);
	-fx-background-radius: 30;
	-fx-border-radius: 30%;
	-fx-background-insets: 0;
	-fx-text-fill: white;
 	-fx-font-size: 15;
 	-fx-font-style:italic ;
}


.text-field
{

	-fx-font: normal 18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 30;
	-fx-border-radius: 30%;
	-fx-background-insets: 0;
	-fx-alignment: center;
}

.text-field:hover
{
	-fx-font: normal 18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    -fx-background-color:  rgb(0,128,192);
    -fx-background-radius: 30;
	-fx-border-radius: 30%;

}


.separator:horizontal .line {
    -fx-background-color: null;
    -fx-border-color: transparent transparent transparent transparent;
}

